<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>test</title>
</head>
<body>
    <div class="wrap">
        <div class="inner">
            <!-- header영역 -->
            <header>헤더</header>
            <!-- a영역 -->
            <main>
            <div class="side">사이드 바</div>
            <div class="content">본문</div>
            </main>
            <!-- footer영역 -->
            <footer>푸터</footer>
        </div>
    </div>
</body>
</html>