@charset "utf-8";
.wrap영역{
    box-sizing: border-box;
}
/* header영역 */
header{
    width: 1200px;
    height: 120px;
    background-color: lightblue;
}
/* a영역 */
main{
    width: 1200px;
    height: 600px;
    background-color: lightcoral;
}
.side{
    width: 300px;
    height: 600px;
    background-color: lightgray;
    float: left;
}
.content{
    width: 900px;
    height: 600px;
    background-color: lightgreen;
    float: left;
}
/* footer영역 */
footer{
    width: 1200px;
    height: 100px;
    background-color: lightseagreen;
}